{%- for intname, intip in interfaces.items() %}
  {%- if intname == "lo0.0" %}
set routing-options router-id {{intip[:-3]}}
  {%- elif "irb" in intname %}
set vlans {{"v" + intname[4:]}} l3-interface {{intname}}
  {%- endif %}
set interfaces {{intname}} family inet address {{intip}}
{%- endfor %}
{%- for ts in tacacs_servers %}
set tacacs-server {{ ts }} source-address {{ loopback }}
{%- endfor %}
set snmp community {{ snmp_community }}